/*add this to remove browser specific padding by default - there padding around the whole page - make it look weird*/

html, body {
    height: 100%;
    margin: 0;
}

/*apply to the whole page*/

* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/*wrapper for the whole page - color and add image*/

#wrapper {
    width: 100%;
    min-height: 100%;
    margin: auto;
    position: relative;
    background-color: rgba(90, 90, 90, 0.329);
    background-image: url("../images/background_img.png");
}

/*NAVIGATION*/

.header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

/*nav list - add the width to match the content*/

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 960px;
    margin: 0 auto;
}

/*Make the nav link float to the right except for the name - name is being override by the float left in the html file*/

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 15px 18px;
    /*remove the underline and or stuff*/
    text-decoration: none;
}

/*add hover over color for nav that is not active or the name section of left side*/

li a:hover:not(.active):not(.name) {
    background-color: rgb(230, 230, 230);
}

.active {
    background-color: #4aaaa5;
    color: white;
}

/*color the title name section of the left of nav*/

.name {
    background-color: #4aaaa5;
    color: white;
}

/*add specific hover color for the name*/

.name:hover {
    background-color: #38807c;
}

/*CONTENT SECTION*/

.content-wrapper {
    max-width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding-top: 10px;
    /*change the padding bottom for spacing the footer*/
    padding-bottom: 68px;
}

.content {
    /*added this to fix the float left for the div that inside the content div - portfolio section*/
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 0px 20px 20px 20px;
}

.content h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 15px;
}

/*INDEX CSS SECTION*/

#me_img {
    /*this make text wrap around the image and make it stay top left*/
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

/*Contact CSS SECTION*/

.contact_form input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    /*make the comment box only able to resize it vertical*/
    resize: vertical;
}

.contact_form #submit {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 15px 10px 15px;
    border: none;
    cursor: pointer;
}

.contact_form #submit:hover {
    background-color: #38807c;
}

/*PORFORLIO CSS SECTION*/

/*flow images side by side and make text overlay the image*/

.image_wrapper {
    max-width: 500px;
}

.image {
    /*make the image to show side by side*/
    float: left;
    position: relative;
}

.image img {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 230px;
}

.image p {
    position: absolute;
    bottom: 30px;
    background: #4aaaa5;
    padding: 4px 10px;
    color: white;
    margin: 0;
    width: 210px;
    text-align: center;
}

/*FOOTER*/

.footer {
    background-color: #666666;
    width: 100%;
    height: 50px;
    /*make the footer stay at bottom*/
    position: absolute;
    bottom: 0;
    margin-top: -50px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}

.footer p {
    color: white;
}